# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
ENV/
.venv

# IDE
.vscode/
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/
dist-ssr/
*.local

# React / Vite
.vite/
*.tsbuildinfo
